tidyverse
dplyr
readxl
writexl
openxlsx
tidytext
igraph
ggraph
tokenizers
ggrepel
ggpubr
scales
RColorBrewer
gridExtra
lubridate
sf
lme4
dlnm
data.table
splines
wesanderson
colorspace
tmap
waterfalls
shiny
shinydashboard
leaflet
fresh